.topbar{

	margin-bottom: 15px;
}

.progressbar-container{
  display: inline-block;
  width: 60%;
  margin: 0;
  position: relative;
  top: 5px;
}

.jumbotron{
	position: relative;
	padding-bottom: 120px;
}

.form-container{
	position: relative;
}

.alert{
	position: absolute;
	clear: both;
	display: inline;
	text-align: center;
}

#finished-alert{
	position: absolute;
	display: none;
	margin: 75px 0 0 -75px;
	width: 150px;
	left: 50%;
}